*{
    box-sizing:border-box;
}
.box-modellen
{
    height:500px;
    width:500px;
    background-color: antiquewhite;
   /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;*/
    box-shadow: inset 60px 16px teal;
    
}
.box2{
    width:100px;
    height:100px;
    padding:20px;
    border:2px solid black;
}
.box3{
    width:100px;
    height:100px;
    border:2px solid black;

}